/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fffffe;

}

header{
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card img{
    width: 70px;
    float: left;

}

.container {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    background-color: lightgreen;
}

h1{
    color: #e53170;
    text-align: center;
    margin-bottom: 30px;
}

.col{
    float: left;
    width: calc(100% / 3);
}

.content{
    float: right;
    width: calc(100% - 70px);
    padding: 10px 10px;

}

.card{
    background-color: black;
    color: white;
    margin: 20px 10px;

}

.content div span{
    font-weight: 100;
    font-size: 12px;
    padding: 10px 0;
}

/* .content span{

} */
